html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
